.describe-emotions__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.describe-emotions {
  .bold();
  text-align: center;
  text-transform: uppercase;
}

.describe-emotions__comment {
  .bold();
  background-color: hsl(0, 0%, 95%);
}
