.form__input-datа {
  .bold();
  display: flex;
  text-align: center;
  text-transform: uppercase;
}

.form__information-list {
  .list-reset();
  text-transform: uppercase;
}

.form__user-contact {
  .bold();
}

.form__contact-info {
  .bold();
  color: lighten(#000000, 30%);
}

@media (min-width: @tablet-width) {
  .form__info-container {
    display: flex;
    flex-direction: row;
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .form__info-container {
    width: 960px;
  }
}
