.hero-inner {
  background-image: url("../img/back-sedona.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 320px;
  min-height: 214px;
}

.hero-inner__img {
  display: flex;
  width: 229px;
  height: 39px;
  margin: 0 auto;
}
