.nav_toggle {
  width: 23px;
}

.nav__list {
  .list-reset();
  background-color: @complementary-color;
}

.nav__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-top: 30px;
  align-items: center;
}

.nav__link {
  .bold();
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
