.photo-video {
  background-color: @base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-video__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.photo-video__description {
  display: flex;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.photo-video__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.photo-video__item-title {
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.photo-video__likes-count {
  font-weight: 700;
  color: #000000;
}
